bodt{
    margin-left: auto;
    margin-right: auto;
}
header{
    text-align: center;
    color: #ffffff;
    background: rgb(34,193,195);
background: radial-gradient(circle, rgb(34,193,195)%0, rgba(133, 148, 35, 1)100%);

}
input,select,textarea{
    margin: 5px;
}
input:hover,select:hover,textarea:hover{
    background-color:brown;
    border: 1px #000000 dotted;
}
footer{
    text-align: center;
    color: #ffffff;
    background: rgb(34,193,195);
background: radial-gradient(circle, rgb(34,193,195)%0, rgba(133, 148, 35, 1)100%);


}